@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300italic,400italic,300);


body { font-family: 'Source Sans Pro', sans-serif; }

.button {
  display: inline-block;
  background: transparent;
  outline: none;
  padding: 10px;
  border: 1px solid #66CC99;
  border-radius: 25px;
  font-weight: 400;
  cursor: pointer;
  color: #66CC99;
}

.button-group {
	margin-bottom: 30px;
}

.button-group h1 {
	margin-bottom: 20px;
	font-weight: 300;
}

.btn-link {
	text-decoration: none;
	color:  #66CC99;
}

.button-sm {
	font-size: 0.8em;
	padding: 10px;
}

.button-md {
	font-size: 1.2em;
	padding: 13px;
}

.button-lg {
	font-size: 1.5em;
	padding: 15px;
}

.button:hover {
	color: #83D6DE;
	border-color: #83D6DE;
}